@import "tailwindcss";

:root {
  --background: #ffffff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size:'24px';
  font-weight:'bold'

}


h1{
  font-size:'50px';
  font-weight:'bold'
}